body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

#balloon {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
    transition: all 0.2s ease;
    cursor: pointer;
}

