body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    transition: background-color 0.5s ease;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: lightgray;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background-color: gray;
    color: white;
}

